.halfPageBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 400px;
}

.textBlock {
    margin-bottom: 20px;
}

.title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
}

.text {
    margin-top: 0;
}

.buttonLink {
    text-decoration: none;
    color: #fff
}

.fullWidth {
    width: 100%;
}

.card {
    width: 100%;
    max-width: 200px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 255, .2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}